<form action="" method="post">
  <div class="card">
    <h5 class="card-header">
      Change Password
    </h5>
    <div class="card-body">
      <p class="card-text">
        Sinh viên tự thực hiện.
        <ul>
          <li>Nhớ kiểm tra mật khẩu cũ</li>
          <li>Mật khẩu mới nhớ cho nhập 2 lần, có kiểm tra</li>
          <li>Mật khẩu mới nhớ hash bcrypt</li>
        </ul>
      </p>
    </div>
    <div class="card-footer text-muted">
      Footer
    </div>
  </div>
</form>