<div class="jumbotron">
  <h1 class="display-3">403.</h1>
  <p class="lead">Bạn cần đăng nhập để coi bài viết này</p>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/articles/home" role="button">Quay lại trang chủ</a>
  </p>
</div>