<h1>{{articles.title}}</h1>
<p><strong>Tác giả:</strong> {{articles.author}}</p>
<p><strong>Danh mục:</strong> {{articles.category_name}}</p>
<p><strong>Nội dung:</strong></p>
<div>
  {{{articles.content}}}
</div>
<a href="/articles" class="btn btn-secondary">Quay lại</a>
